<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%= car.make %> <%= car.model %> <%= car.year %>

    </h1>
    <form action="/cars/<%=car._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <br><br>
    <a href="/cars/<%=car._id%>/edit">Edit <%=car.name%></a>
</body>
</html>