<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    nav {
            display: flex;
            justify-content: space-evenly;
            /* background-color: orange; */
            padding: 10px;
            border-radius: 10px;
            background-image: url('/assets/chrome.png');
            background-position: bottom;
            font-size: .75em;
            text-decoration: none;
            margin: 20px;

    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
    }

    body {
        font-family: 'Orbitron', sans-serif;
        background-color: #f0f0f0;
        text-align: center;
        background-image: url('/assets/fact2.png');
        background-size: stretch;
    }
    h1 {
        font-family: 'Faster One', cursive;
        color: black;
        text-shadow: orange 20px 4px 10px;
        font-size: 3em;

        /* color: #333; */
    }

    button {
        font-family: 'Orbitron';
    }

    .postDiv {
        background-color: orange;
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 1);
    }

</style>
<nav>
    <a href="/">Home</a>
    <a href="/cars">All Cars</a>
</nav>
<body>
    <div class="postDiv"
        <h1>
            <%= car.make %> <%= car.model %> <%= car.year %>

        </h1>
        <form action="/cars/<%=car._id%>?_method=DELETE" method="POST"><br>
            <button type="submit">Delete</button>
        </form>
        <br><br>
        <a href="/cars/<%=car._id%>/edit">Edit <%=car.name%></a>

    </div>
</body>
</html> 